<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<h1>
		Name <span th:text="${#strings.toUpperCase(name)}"></span>
	</h1>
	<h1>
		Length of Name <span th:text="${#strings.length(name)}"></span>
	</h1>
	<h1>
		Date <span th:text="${date}"></span>
	</h1>
	<div th:with="a=5,b=56,n=${name}">
		<h1>
			value of a is <span th:text="${name}"></span>
		</h1>
		<h1 th:text="'Value of b is '+${b}"></h1>
		<h1 th:text="'Value of a is '+${a}"></h1>
		<h1 th:text="'Sum of '+ ${a} +' and '+${b}+ ' is '+${a+b}"></h1>
	</div>
			<h1 th:text="'Value of a is '+${a}"></h1>
	
</body>
</html>