<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>----Conditional loop-----</title>
</head>
<body>
	<h1>Conditional loop</h1>
	<h1>
		User is <span th:style="${isActive}? 'color:blue' : 'color:red'"
			th:text="${isActive}? 'active' : 'not active'"></span>
	</h1>
	<h1 th:if="${gender}=='M' ">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	<div th:switch="${#lists.size(list)}">
		<h1 th:case="'0'">List contain zero element</h1>
		<h1 th:case="'1'">List contain one element</h1>
		<h1 th:case="*">List contain more than one element</h1>
	</div>
</body>
</html>